.sidebar-content p {
    position: relative;
    top: 120px;
    width: 100%;
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.sidebar-content p:first-of-type {
    text-transform: capitalize;
    padding: 0 0 5px 0;
    margin: 0 0 35px 0;
    font-size: 16px;
    border-bottom: 2px solid #ffffff;
}

.sidebar-content strong {
    width: 100%;
    font-weight: 600;
    text-transform: initial;
}