<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<title>LifeStory</title>

		<!-- icon -->
		<link rel="icon" href="/static/favicon.ico">

        <!-- Bootstrap CSS -->
        <link href="/static/css/bootstrap/bootstrap.css" rel="stylesheet">

        <!-- JavaScript files -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="/static/js/bootstrap/bootstrap.js"></script>
        <!-- <script src="/static/js/jquery.nicescroll.min.js"></script> -->
        <script src="/static/js/common.js"></script>
        <script src="/static/js/parallax.min.js"></script>

        <!-- Other -->
		<!-- styles -->
		<link rel="stylesheet" href="/static/css/styles/story.css">
		<link rel="stylesheet" href="/static/css/styles/success.css">
		<link rel="stylesheet" href="/static/css/styles/game.css">
		
		<!-- Appear on scroll -->
		<link href="/static/css/aos.css" rel="stylesheet">
		<script src="/static/js/aos/aos.js"></script>
	</head>
	
	<body>
	
	<!-- Navbar -->
		<div class="navbar row p-0 m-0">
		
				<div class="points offset-1 col-9 p-0">
					<ul class="row">
						<li class="col portfolio"><a href="/">Portfolio</a></li>
						<li class="col"><a href="#">Point 1</a></li>
						<li class="col"><a href="#">Point 2</a></li>
						<li class="col"><a href="#">Point 3</a></li>
					</ul>
				</div>

				<div class="logo col-2  p-0"><img src="/static/images/lifestorywhite.png" alt="Logo"></div>
		
		</div>

	<!-- Desktop version -->

	<div class="desktop row">
			<!-- News page content -->


			<div class="main-content offset-1 col-9">
				<p>{{ message }}</p>
				<div class="num">{{ num }}</div>
				<form method="POST" action="/game">
					<input id="guess" type="number" name="guess" placeholder="Enter number">
					<button class="submit" type="submit">Submit</button>
				</form>
			</div>

			<div class="sidebar-content col-2">
            	<p>Hello {{ name }}, </p>
            	<p>Email: <strong>{{ email }}</strong></p>
			</div>
		
	</div>

		

	<!-- Mobile version -->
		<!-- Main page content -->
		<div class="mobile-main-content">
			
		</div>


		<!-- News page content -->
		<div class="mobile-news-content">
			
		</div>

	</body>
</html>