<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Socian</title>

    <!-- icon -->
    <link rel="icon" href="/static/favicon.ico">

    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap/bootstrap.css" rel="stylesheet">
    <script src="/static/js/bootstrap/bootstrap.js"></script>

    <!-- JavaScript files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- <script src="/static/js/jquery.nicescroll.min.js"></script> -->
    <script src="/static/js/common.js"></script>
    <script src="/static/js/parallax.min.js"></script>

    <!-- Other -->
    <!-- styles -->
    <link rel="stylesheet" href="/static/css/styles/main.css">

    <!-- Appear on scroll -->
    <link href="/static/css/aos.css" rel="stylesheet">
    <script src="/static/js/aos/aos.js"></script>
</head>

<body>

    <!-- Navbar -->
    <div class="navbar row p-0 m-0">
        <div class="logo p-0"><img src="/static/images/socian.png" alt="Logo"></div>
    </div>

    <!-- Desktop version -->
    <div class="content row m-0">
        <div class="sidebar col-2 ">
            <div class="sidetit">Filters</div>
            <div class="row m-0">
                <div class="sidebar-item col-11">Category x</div>
                <div class="sidebar-item col-11">Category x</div>
                <div class="sidebar-item col-11">Category x</div>
                <div class="sidebar-item col-11">Category x</div>
                <div class="sidebar-item col-11">Category x</div>
                <div class="sidebar-item col-11">Category x</div>
                <div class="sidebar-item col-11">Category x</div>
                <div class="sidebar-item col-11">Category x</div>
            </div>
        </div>
        <div class="list col-7 offset-1">
            <div class="row m-0">
                <div class="col list-item p-0">
                    <div class="row m-0 list-data">
                        <div class="col-12 list-title">Vilniaus Gedimino technikos universitetas</div>
                    </div>
                    <div class="row m-0 list-info">
                        <div class="col-12 list-rating">1st</div>
                        <div class="col-12 list-country">Lithuania</div>
                    </div>
                    <div class="row m-0">
                        <div class="list-image"><div class="img-bg"></div><img src="/static/images/vgtu.jpg" alt=""></div>
                    </div>
                    <div class="more">more_</div>
                </div>
                <div class="col list-item p-0">
                    <div class="row m-0 list-data">
                        <div class="col-12 list-title">Vilniaus Gedimino technikos universitetas</div>
                    </div>
                    <div class="row m-0 list-info">
                        <div class="col-12 list-rating">1st</div>
                        <div class="col-12 list-country">Lithuania</div>
                    </div>
                    <div class="row m-0">
                        <div class="list-image"><div class="img-bg"></div><img src="/static/images/vgtu.jpg" alt=""></div>
                    </div>
                    <div class="more">more_</div>
                </div>
                <div class="col list-item p-0">
                    <div class="row m-0 list-data">
                        <div class="col-12 list-title">Vilniaus Gedimino technikos universitetas</div>
                    </div>
                    <div class="row m-0 list-info">
                        <div class="col-12 list-rating">1st</div>
                        <div class="col-12 list-country">Lithuania</div>
                    </div>
                    <div class="row m-0">
                        <div class="list-image"><div class="img-bg"></div><img src="/static/images/vgtu.jpg" alt=""></div>
                    </div>
                    <div class="more">more_</div>
                </div>
                <div class="col list-item p-0">
                    <div class="row m-0 list-data">
                        <div class="col-12 list-title">Vilniaus Gedimino technikos universitetas</div>
                    </div>
                    <div class="row m-0 list-info">
                        <div class="col-12 list-rating">1st</div>
                        <div class="col-12 list-country">Lithuania</div>
                    </div>
                    <div class="row m-0">
                        <div class="list-image"><div class="img-bg"></div><img src="/static/images/vgtu.jpg" alt=""></div>
                    </div>
                    <div class="more">more_</div>
                </div>
                <div class="col list-item p-0">
                    <div class="row m-0 list-data">
                        <div class="col-12 list-title">Vilniaus Gedimino technikos universitetas</div>
                    </div>
                    <div class="row m-0 list-info">
                        <div class="col-12 list-rating">1st</div>
                        <div class="col-12 list-country">Lithuania</div>
                    </div>
                    <div class="row m-0">
                        <div class="list-image"><div class="img-bg"></div><img src="/static/images/vgtu.jpg" alt=""></div>
                    </div>
                    <div class="more">more_</div>
                </div>
                <div class="col list-item p-0">
                    <div class="row m-0 list-data">
                        <div class="col-12 list-title">Vilniaus Gedimino technikos universitetas</div>
                    </div>
                    <div class="row m-0 list-info">
                        <div class="col-12 list-rating">1st</div>
                        <div class="col-12 list-country">Lithuania</div>
                    </div>
                    <div class="row m-0">
                        <div class="list-image"><div class="img-bg"></div><img src="/static/images/vgtu.jpg" alt=""></div>
                    </div>
                    <div class="more">more_</div>
                </div>
                <div class="col list-item p-0">
                    <div class="row m-0 list-data">
                        <div class="col-12 list-title">Vilniaus Gedimino technikos universitetas</div>
                    </div>
                    <div class="row m-0 list-info">
                        <div class="col-12 list-rating">1st</div>
                        <div class="col-12 list-country">Lithuania</div>
                    </div>
                    <div class="row m-0">
                        <div class="list-image"><div class="img-bg"></div><img src="/static/images/vgtu.jpg" alt=""></div>
                    </div>
                    <div class="more">more_</div>
                </div>
            </div>
        </div>
    </div>
        <div class="info-bar">
            <div class="closebar"></div>
            <div class="row m-0">
                <div class="title col-8">Vilniaus Gedimino technikos universitetas</div>
                <div class="image col-3 p-0"><img src="/static/images/vgtu.jpg" alt=""> </div>
                
                <div class="data col-8">
                    <div class="row m-0">
                        <div class="datacol noselect p-0 col miestas">Vilnius</div>
                        <div class="datacol noselect p-0 col ratings">4.9/5</div>
                        <div class="datacol noselect p-0 col country">Lietuva</div>
                        <div class="datacol noselect p-0 col">col</div>
                        <div class="datacol noselect p-0 col">m / f</div>
                        <div class="datacol noselect p-0 col"></div>
                    </div>
                </div>
                <div class="walloffame col-3 p-0">
                    <div class="row m-0">
                        <div class="col-12 walltit">Wall of fame</div>
                        <div class="col-12 person">
                            <div class="name"><strong>Boleslav Aleksandr</strong> Petkevic </div>
                        </div>
                        <div class="col-12 person">
                            <div class="name"><strong>Mikas</strong> Pupeikis</div>
                        </div>
                        <div class="col-12 person">
                            <div class="name"><strong>Gabriel</strong> Masalski</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="web"><a href="#">go to official website</a></div>
        </div>



    <!-- Mobile version -->
    <!-- Main page content -->
    <div class="mobile-main-content">

    </div>


    <!-- News page content -->
    <div class="mobile-news-content">

    </div>

</body>

</html>