<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<title>LifeStory</title>

		<!-- icon -->
		<link rel="icon" href="/static/favicon.ico">
		
        <!-- Bootstrap CSS -->
        <link href="/static/css/bootstrap/bootstrap.css" rel="stylesheet">

        <!-- JavaScript files -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="/static/js/bootstrap/bootstrap.js"></script>
        <!-- <script src="/static/js/jquery.nicescroll.min.js"></script> -->
        <script src="/static/js/common.js"></script>
        <script src="/static/js/parallax.min.js"></script>

        <!-- Other -->
		<!-- styles -->
		<link rel="stylesheet" href="/static/css/styles/main.css">
		
		<!-- Appear on scroll -->
		<link href="/static/css/aos.css" rel="stylesheet">
		<script src="/static/js/aos/aos.js"></script>
	</head>
	
	<body>
	
	<!-- Navbar -->
		<div class="navbar row p-0 m-0">
				<div class="row nav-desk-size">
					<div class="logo col-2 h-100 p-0"><img src="/static/images/lifestorywhite.png" alt="Logo"></div>
		
					<div class="choosable offset-1 col-2 p-0">
						<li style="left: 0; color: #fff; cursor: default;">Main</li>
						<li class="hover" style="right: 0; color: #D6242F; background-color: black;"><a href="/story">Story</a></li>
					</div>
		
					<div class="points offset-1 col-5 p-0">
						<ul class="row">
							<li class="col-4"><a class="projects-link" href="#">Projects</a></li>
							<li class="col-4"><a class="about-link" href="#">About</a></li>
							<li class="col-4"><a class="contact-link" href="#">Contact</a></li>
						</ul>
					</div>
		
					<div class="search col-1 p-0">
						<img src="/static/images/search.png" alt="search" class="search-img">
						<!-- <div class="search-text"><input type="search"></div> -->
					</div>
				</div>
			</div>
		</div>

	<!-- Desktop version -->

	<div class="desktop">
		<div class="desktop-size">

			<!-- Main page content -->

			<img class="avatar-image" src="/static/images/avatar-image.jpg" alt="Avatar Image">

			<div class="main-content p-0">
				<div class="main">
					<div class="row">

						<div class="main-about col-7 p-0">
							<div class="about-container">
								<div class="name">Bolex</div>
								<div class="prof">Front-end developer</div>
							</div>
	
							<div class="description">
								<div class="row">
									<div class="col-4 p-0">
										<img style="top: 7px;" src="/static/images/programming-code.svg" alt="Languages">
										<div class="desc-text">
											<li>Apps</li>
										</div>
									</div>
									<div class="col-4 p-0">
										<img src="/static/images/search.svg" alt="Quality">
										<div class="desc-text">
											<li>Quality</li>
										</div>
									</div>
									<div class="col-4 p-0">
										<img src="/static/images/computer.svg" alt="Adaptive">
										<div class="desc-text">
											<li>Adaptive</li>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
					
					<img class="scroll-img" src="/static/images/scroll.png" alt="scroll">
					
				</div>
				
				<!-- 2nd page -->
				
				<div class="projects" id="projects">
					
					<div class="projects-list row">
						<div class="projects-item col-4">
							<a href="#">
								<img src="/static/images/projects/1.jpg" alt="Project">
								<span class="projects-title">Vilnius John Paul II Gymnasium</span>
								<span class="projects-spec">Complex structure</span>
							</a>
						</div>
						<div class="projects-item col-4">
							<a href="#">
								<img src="/static/images/projects/2.jpg" alt="Project">
								<span class="projects-title">LifeStory</span>
								<span class="projects-spec">Custom design</span>
							</a>
						</div>
						<div class="projects-item col-4">
							<a href="#">
								<img src="/static/images/projects/3.jpg" alt="Project">
								<span class="projects-title">Another Web</span>
								<span class="projects-spec">Another spec</span>
							</a>
						</div>
					</div>

					<div class="projects-cover row">
						<div class="projects-templates col-3"><a href="#">templates</a></div>
						<div class="projects-text-available offset-3 col-3">More projects available</div>
						<div class="projects-more offset-1 col-2"><a href="#">more</a></div>
					</div>
					
					<div class="bg-text noselect" style="bottom: 55vh; font-size: 20vh;">Projects</div>
				</div>
	
				<!-- 3rd page -->

				<div class="about" id="about">
					<img class="about-line-1" src="/static/images/about-line-1.png" alt="Lines">
					<div class="about-1 col-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias harum error, beatae voluptatem adipisci, praesentium ad doloremque iste dolorem ea provident dolores asperiores deserunt eos consequuntur. Dicta nemo libero dolorem.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias harum error, beatae voluptatem adipisci, praesentium ad doloremque iste dolorem ea provident dolores asperiores deserunt eos. </div>

					<img class="about-line-2 col-6" src="/static/images/about-line-2.png" alt="Lines">
					<div class="about-quote col-6">How you make anything, shows how you do everything</div>
				
					<div class="about-name offset-8 col-4">
						<div class="row">
							<div class="name-s-1 col-5">Bol</div>
							<div class="name-s-2 col-5">ex</div>
						</div>
						<div class="row">
							<div class="name-1 col-6">Boleslav</div>
							<div class="name-2 offset-5 col-6">Aleksandr</div>
						</div>
					</div>

					<div class="bg-text noselect" style="left: -20vh; bottom: 55vh;">About</div>
					
				</div>

				<!-- 4th page -->

				<div class="contact" id="contact">
					

					<div class="bg-text noselect" style="left: 20vh; font-size: 25vh;">Contact</div>

				</div>
				
				<footer>
					
				</footer>

			</div>

			<!-- News page content -->
			<div class="news-content">
				<div class="main-news">
					
				</div>

				<div class="sidebar-news">
					
				</div>


			</div>
			
		</div>
		
	</div>

		

	<!-- Mobile version -->
		<!-- Main page content -->
		<div class="mobile-main-content">
			
		</div>


		<!-- News page content -->
		<div class="mobile-news-content">
			
		</div>

	</body>
</html>